---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
SortIncludes: false
